http:
  address: 0.0.0.0:3000
  session_ttl: 720h
users:
  - name: admin
    password: "{{ vault_adguard_password_hash }}"
auth_attempts: 5
block_auth_min: 15
http_proxy: ""
language: ""
theme: auto
dns:
  bind_hosts:
    - 0.0.0.0
  port: 53
  upstream_dns:
    - https://dns.cloudflare.com/dns-query
    - 1.1.1.1
  bootstrap_dns:
    - 1.1.1.1
    - 8.8.8.8
  cache_enabled: true
  cache_size: 4194304
  protection_enabled: true
filtering:
  protection_enabled: true
  filtering_enabled: true
  rewrites:
    - domain: "*.{{ internal_domain_suffix }}"
      answer: {{ caddy_container_ip }}
      enabled: true
querylog:
  enabled: true
  file_enabled: true
  interval: 30d
  size_memory: 1000
statistics:
  enabled: true
  interval: 24h
filters:
  - url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
    name: AdGuard DNS filter
    enabled: true
user_rules: []
schema_version: 34
