[DEFAULT]
bantime  = {{ fail2ban_bantime }}
findtime = {{ fail2ban_findtime }}
maxretry = {{ fail2ban_maxretry }}
ignoreip = {{ fail2ban_ignore_ips | join(' ') }}

[sshd]
enabled  = true
port     = {{ ssh_port }}
logpath  = %(sshd_log)s
backend  = %(sshd_backend)s
